### Misc aliases
alias fucking='sudo'
alias ls='ls --color'
alias ll='ls -l'
alias lla='ls -la'
alias la='ls -a'
alias l='ls -laF --color'

alias edit_alias='$EDITOR ~/.aliases'

### Distro-specific
alias maj='yaourt -Syua'

### Dev
alias hd='hexdump -C'

alias gdb='gdb -q'

alias vg='valgrind'
alias vgf='valgrind --leak-check=full'
alias vgfv='valgrind --leak-check=full -v'

alias make='make --no-print-directory'
alias fmake='make -j16'

function_exists() {
    declare -f -F $1 > /dev/null
    return $?
}

for al in `git config --get-regexp 'alias.*' | colrm 1 6 | cut -d " " -f1`; do
    alias g$al="git $al"
done

[ -f ~/.aliases.local ] && source ~/.aliases.local

