# NOTE: This file should be sourced from .zshrc

#### Misc aliases
alias ls='ls --color'
alias ll='ls -l'
alias la='ls -la'
alias l='ls -laF --color'

alias edit_alias='$EDITOR ~/.aliases'

alias fucking='sudo'

### Dev
alias make='make --no-print-directory'
alias fmake='make -j16'

alias gdb='gdb -q'

alias vg='valgrind'
alias vgf='valgrind --leak-check=full'
alias vgfv='valgrind --leak-check=full -v'

alias hd='hexdump -C'

# Takes any git alias in gitconfig and shortens it even more
for al in `git config --get-regexp 'alias.*' | colrm 1 6 | cut -d " " -f1`; do
    alias g$al="git $al"
done

### Distro-specific
alias maj='yaourt -Syua'

# Source local aliases if any
[ -f ~/.aliases.local ] && source ~/.aliases.local
