[advice]
    statusHints = false
[credential]
    helper = cache
[push]
    default = simple
[core]
    autocrlf = input
    preloadindex = true
    fscache = true
[url "ssh://git@github.com/"]
    pushInsteadOf = https://github.com/
[url "git://github.com/"]
    insteadOf = https://github.com/
[color]
    ui = auto
[color "status"]
    added = green
    changed = yellow
    untracked = red
[alias]
    rl = "!rm .git/index.lock"
    cmb = "!git branch --merged | egrep -v \"(^\\*|master)\" | xargs -rt git branch -d #"
    f = fetch -p
    ec = config --global -e
    cfd = clean -fd
    d = diff
    dc = diff --cached
    dh = diff HEAD
    dd = diff --word-diff-regex=\"[A-Za-z0-9. ]|[^[:space:]]\"
    ddc = diff --cached --word-diff-regex=\"[A-Za-z0-9. ]|[^[:space:]]\"
    s = status -s
    sb = status -sb
    st = stash
    stp = stash pop
    ad = add
    ap = add --patch
    lgm = log master..
    l = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    pat = format-patch --stdout HEAD~1
    co = checkout
    nb = checkout -b
    cp = checkout --patch
    pnr = pull --no-rebase
    pff = pull --ff
    rp = reset --patch
    rc = rebase --continue
    ra = rebase --abort
    ri = rebase -i
    ria = rebase -i --autosquash
    fix = commit --fixup
    aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /'
[include]
    path = ~/.gitconfig.local
