snippet for
for (u32 i = 0; i < $1; i++)
{
	$0
}
endsnippet

snippet reaper_license "Reaper license header"
////////////////////////////////////////////////////////////////////////////////
/// Reaper
///
/// Copyright (c) 2015-`date +%Y` Thibault Schueller
/// This file is distributed under the MIT License
////////////////////////////////////////////////////////////////////////////////

${0}
endsnippet
