snippet for "Simple For Loop"
for (u32 i = 0; i < $1; i++)
{
	$0
}
endsnippet

snippet comment "Comment With Date"
// Thibault S. {`date +%F`) $0
endsnippet

snippet reaper_license "Reaper License Header"
////////////////////////////////////////////////////////////////////////////////
/// Reaper
///
/// Copyright (c) 2015-`date +%Y` Thibault Schueller
/// This file is distributed under the MIT License
////////////////////////////////////////////////////////////////////////////////

${0}
endsnippet
